.container{
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: white;
}
.row ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
a{text-decoration: none;font-size: larger;}
.heading{
    width: 100%;
    background-color: yellowgreen;
    color: tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px 10px 0px;
}